body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #926239;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.wrapperTop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/beachshowcase.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainText {
  text-transform: capitalize;
  font-size: 2.9em;
}

.text {
  font-size: 1.2em;
  padding: 2%;
}

.readMore {
  font-size: 1.2em;

  color: inherit;
  background-color: inherit;
  border-radius: 5px;
}

.wrapperBottom {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.textBgc {
  color: #f4f4f4;
  background-color: #926239;
}

.textBox {
  display: flex;
  flex-direction: row;
  text-align: start;
}
